@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet');
h1 {
  color: #F6C1D9;
  font-family: "Alegreya", serif;
  font-size: 4rem;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-weight: bold;
}

body {
  font-family: "Alegreya", serif;
  font-size: 1rem;
}

header .bg-rosa {
  background-color: #ED84B3;
  height: 80px;
}
header .bg-rosa img {
  width: 75px;
}
header .bg-rosa .navbar-nav {
  font-family: "Alegreya", serif;
  font-size: 1.5rem;
}
header .bg-rosa .navbar-nav .nav-link {
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: start;
}
footer .redes {
  color: #8CC0DE;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-left: 20px;
}
footer .logofacebook, footer .logoinstagram {
  width: 5%;
  margin-left: 20px;
  margin-bottom: 20px;
}
footer .fixwapp {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 20px;
  right: 30px;
}
footer .logowhatsapp {
  width: 100%;
}

.banner {
  background-image: url(../imagenes/banner1.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 80px 0px;
}

main .titulo-productos {
  font-family: "Alegreya", serif;
  color: #FAD4DB;
  font-weight: bold;
  text-align: center;
  font-size: 2.7rem;
  text-shadow: 2px 2px 3px rgb(1, 1, 1);
  margin-top: 40px;
}
main .divPadreFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  color: #ED84B3;
  font-size: 1.8rem;
  margin-top: 70px;
}
main .divPadreFlex img {
  height: 250px;
  width: 200px;
  transition: transform 0.2s;
}
main .divPadreFlex .desayunos:hover {
  outline: none;
  font-weight: bold;
  color: #312A6F;
  opacity: 1;
  transform: scale(1.3);
}
main .divPadreFlex .eventos:hover {
  outline: none;
  font-weight: bold;
  color: #312A6F;
  opacity: 1;
  transform: scale(1.3);
}
main .divPadreFlex .antojos:hover {
  outline: none;
  font-weight: bold;
  color: #312A6F;
  opacity: 1;
  transform: scale(1.3);
}
main .divPadreFlex .merienda:hover {
  outline: none;
  font-weight: bold;
  color: #312A6F;
  opacity: 1;
  transform: scale(1.3);
}
main .divPadreFlex .mesa-dulce:hover {
  outline: none;
  font-weight: bold;
  color: #312A6F;
  opacity: 1;
  transform: scale(1.3);
}
main .divPadreFlex .postres:hover {
  outline: none;
  font-weight: bold;
  color: #312A6F;
  opacity: 1;
  transform: scale(1.3);
}

main .card {
  margin-top: 30px;
}
main .card .tienda-titulo {
  color: #ED84B3;
  font-size: 1.7rem;
  margin-top: 10px;
  text-align: center;
}
main .card .tienda-texto {
  font-family: "Alegreya", serif;
  font-size: 1.3rem;
  color: #312A6F;
}
main .card .tienda-subtexto {
  font-family: "Alegreya", serif;
  font-size: 1rem;
  color: #BDCC8A;
}

main .presentacion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
main .presentacion .fotoPresentacion {
  width: 300px;
  margin: 10px;
  margin-bottom: 40px;
}
main .presentacion .textoPresentacion {
  margin: 10px;
  padding: 20px;
  color: #ED84B3;
  text-align: left;
  font-size: 1.3rem;
}

h1 {
  margin-bottom: 60px;
}

.mb-3 {
  margin: 10px 300px 10px 300px;
}

.border-color {
  border-color: #ED84B3;
}

.form-label {
  color: #312A6F;
  font-size: 1rem;
}

.btn-primary {
  margin-top: 40px;
}

main .border-color {
  color: #ED84B3;
}
main .novedades-titulo {
  color: #ED84B3;
  font-size: 1.7rem;
}
main .novedades-texto {
  font-size: 1.3rem;
  color: #312A6F;
}

/*mobile*/
@media only screen and (max-width: 480px) {
  header .navbar {
    z-index: 3;
  }
  header .bg-rosa {
    height: 70px;
  }
  header .bg-rosa img {
    width: 50px;
  }
  header .bg-rosa .navbar-nav {
    font-size: 1rem;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
  }
  footer .logofacebook, footer .logoinstagram {
    width: 10%;
  }
  footer .fixwapp {
    width: 40px;
    height: 40px;
    right: 30px;
    z-index: 2;
  }
  .banner {
    padding: 20px 0px;
  }
  h1 {
    font-size: 3rem;
    margin-top: 20px;
  }
  main .titulo-productos {
    text-align: center;
    font-size: 1.5rem;
  }
  main .divPadreFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 50px;
  }
  main .divPadreFlex img {
    height: 200px;
    width: 150px;
  }
  main .divPadreFlex .desayunos:hover {
    outline: none;
    font-weight: none;
    color: #ED84B3;
    transform: scale(1);
  }
  main .divPadreFlex .eventos:hover {
    outline: none;
    font-weight: none;
    color: #ED84B3;
    transform: scale(1);
  }
  main .divPadreFlex .antojos:hover {
    outline: none;
    font-weight: none;
    color: #ED84B3;
    transform: scale(1);
  }
  main .divPadreFlex .merienda:hover {
    outline: none;
    font-weight: none;
    color: #ED84B3;
    transform: scale(1);
  }
  main .divPadreFlex .mesa-dulce:hover {
    outline: none;
    font-weight: none;
    color: #ED84B3;
    transform: scale(1);
  }
  main .divPadreFlex .postres:hover {
    outline: none;
    font-weight: none;
    color: #ED84B3;
    transform: scale(1);
  }
  .card img {
    z-index: 1;
  }
  main .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  main .presentacion .fotoPresentacion {
    width: 250px;
    margin: 10px;
    align-self: center;
  }
  main .presentacion .textoPresentacion {
    padding: 60px;
    align-self: center;
    text-align: left;
    font-size: 1rem;
    margin-right: 20px;
  }
  h1 {
    margin-bottom: 60px;
  }
  .mb-3 {
    margin: 10px 40px 10px 20px;
  }
  .border-color {
    border-color: #ED84B3;
  }
  .form-label {
    color: #312A6F;
    font-size: 0.8rem;
  }
  .btn-primary {
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
  }
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 978px) {
  header .bg-rosa {
    height: 100px;
  }
  header .bg-rosa img {
    width: 80px;
  }
  header .bg-rosa .navbar-nav {
    font-size: 2rem;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
  }
  h1 {
    font-size: 4.5rem;
  }
  main .titulo-productos {
    font-size: 3rem;
  }
  main .divPadreFlex {
    font-size: 2.3rem;
  }
  main .divPadreFlex img {
    height: 300px;
    width: 250px;
  }
  main .card img {
    height: 250px;
  }
  main .card .tienda-titulo {
    font-size: 1.7rem;
    margin-top: 5px;
  }
  main .card .tienda-texto {
    font-size: 1.5rem;
  }
  main .card .tienda-subtexto {
    font-size: 1.4rem;
  }
  main .mb-3 {
    margin: 50px 170px 50px 170px;
  }
  main .novedades-titulo {
    font-size: 1.7rem;
  }
  main .novedades-texto {
    font-size: 1.5rem;
  }
  main .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  main .presentacion .fotoPresentacion {
    align-self: center;
    width: 500px;
    height: 400px;
  }
  main .presentacion .textoPresentacion {
    font-size: 1.7rem;
  }
  .form-label {
    font-size: 1.8rem;
  }
  .form-control {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
