/* colores 
#F6C1D9 / Rosa fuerte
#ED84B3 / Fucsia
#AAD9DD / celeste
#312A6F / azul
#FAD4DB / rosa
#BDCC8A / verde
*/

/*header
header img{
    width: 100px;
}
.bg-rosa{
    background-color: #F6C1D9;
}
.navbar-nav{
    font-family:'Alegreya', serif;
    font-size: 1.5rem;
}
.nav-link{
    color: white;
}
*/
 /*body
 body{
    font-family: 'Alegreya', serif;
    font-size: 62.5%;
}*/

/*index*/

/*index-banner

.banner{
    background-image: url(../imagenes/banner1.jpg);
    background-size: cover;
    background-position: center;
    color: #FAD4DB;
    font-family:'Alegreya', serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    padding: 80px 0px;
}
.banner h1{
    font-size: 5rem;
    color: #FAD4DB;
    font-family:'Alegreya', serif;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}
.banner p{
    font-size: 3rem;
}*/

/*index-main

main section h2{
    color: #312A6F;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 80px;
}
.divPadreFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: #F6C1D9;
    font-size: 2rem;
    margin-top: 70px;
}
main section div img{
    width: 40%;
}*/

/*tienda*/
/*.tienda{
    font-family: 'Alegreya', serif;
}
.tienda h1{
    font-size: 5rem;
    color: #FAD4DB;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.tienda h2{
    color: #ED84B3;
    font-size: 2.5rem;
}
.card-text{
    font-size: 1.5rem;
    color: #312A6F;
}
.text-body-secondary{
    font-size: 1rem;
    color: #AAD9DD;
}*/

/*novedades*/
/*
.contenedor-grid img{
    width: 300px;
    height: 300px;
}

.contenedor-grid{
    display: grid;
    grid-template-areas: 
    "h1       h1"  
    "nuevo1 texto1" 
    "texto2 nuevo2" 
    "nuevo3 texto3" 
    "texto4 nuevo4";

    grid-template-rows: 200px 300px 300px 300px 300px ;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: start;
}*/
/*.grid-titulo{
    grid-area: h1;
    font-size: 5rem;
    color: #FAD4DB;
    font-family:'Alegreya', serif;
    justify-self: center;
    align-self: center;
}*/
/*.novedades h1{
    font-size: 5rem;
    color: #FAD4DB;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.col{
    padding: 60px;

}*/
/*
.novedades-img-1{
    grid-area: nuevo1;
    justify-self: right;
    margin: 10px;
    padding: 20px;
}
.novedades-titulo-1{
    grid-area: texto1;
    color: #ED84B3;
    margin: 10px;
    padding: 40px;
}
.novedades-texto-1{
    grid-area: texto1;
    font-family:'Alegreya', serif;
    font-size: 1.3rem;
    color: #AAD9DD;
    margin: 10px;
    padding: 40px;
    align-self: center;
}
.novedades-img-2{
    grid-area: nuevo2;
    justify-self: left;
    margin: 10px;
    padding: 20px;
}
.novedades-titulo-2{
    grid-area: texto2;
    color: #ED84B3;
    margin: 10px;
    padding: 40px;
}
.novedades-texto-2{
    grid-area: texto2;
    font-family:'Alegreya', serif;
    font-size: 1.3rem;
    color: #AAD9DD;
    margin: 10px;
    padding: 40px;
    align-self: center;
}
.novedades-img-3{
    grid-area: nuevo3;
    justify-self: right;
    margin: 10px;
    padding: 20px;
}
.novedades-titulo-3{
    grid-area: texto3;
    color: #ED84B3;
    margin: 10px;
    padding: 40px;
}
.novedades-texto-3{
    grid-area: texto3;
    font-family:'Alegreya', serif;
    font-size: 1.3rem;
    color: #AAD9DD;
    margin: 10px;
    padding: 40px;
    align-self: center;
}
.novedades-img-4{
    grid-area: nuevo4;
    justify-self: left;
    margin: 10px;
    padding: 20px;
}
.novedades-titulo-4{
    grid-area: texto4;
    color: #ED84B3;
    margin: 10px;
    padding: 40px;
}
.novedades-texto-4{
    grid-area: texto4;
    font-family:'Alegreya', serif;
    font-size: 1.3rem;
    color: #AAD9DD;
    margin: 10px;
    padding: 40px;
    align-self: center;
}*/

/*nosotros*/
/*.nosotros h1{
    font-size: 5rem;
    color: #FAD4DB;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.textoPresentacion{
    margin: 10px;
    padding: 20px;
    color: #FAF0D7;
    text-align: left;
    background-color: #8CC0DE;
    font-size: 1.3rem;
}   
.fotoPresentacion{
    width: 20%;
    margin: 10px ;
}
.presentacion{
    display: flex;
    flex-direction: row;
}*/

/*contacto*/
/*.contacto h1{
    font-size: 5rem;
    color: #FAD4DB;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
main div form label{
    font-size: 1rem;
}*/

/*footer*/
/*footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 100px;
}
.whatsapp{
    color: #CCEEBC;
    font-size: 1.5rem;
}
.logowhatsapp{
    width: 10%;
}
.redes{
    color: #8CC0DE;
    font-size: 1.5rem;
}
.logofacebook{
    width: 10%;
}
.logoinstagram{
    width: 10%;
}*/

/*mobile*/
@media only screen and (max-width: 480px) {
    /*index*/
    .divPadreFlex{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    /*nosotros*/
    .presentacion{
        flex-direction: column;
    }
    .fotoPresentacion{
        width: 70%;
        margin: 55px ;
    }
    /*novedades*/
    .contenedor-grid{
        display: grid;
        grid-template-areas: 
        "h1"  
        "nuevo1"
        "titulo1"
        "texto1" 
        "nuevo2"
        "titulo2"
        "texto2" 
        "nuevo3"
        "titulo3" 
        "texto3"
        "nuevo4"
        "titulo4" 
        "texto4";
    
        grid-template-rows: 100px 200px 50px 150px 200px 50px 150px 200px 50px 150px 200px 50px 150px;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .grid-titulo{
        grid-area: h1;
        font-size: 4rem;
    }
    .novedades-img-1{
        grid-area: nuevo1;
        justify-self: center;
        padding: 60px;
    }
    .novedades-titulo-1{
        grid-area: titulo1;
        margin: 10px;
        padding: 40px;
    }
    .novedades-texto-1{
        grid-area: texto1;
        margin: 10px;
        padding: 40px;
        align-self: center;
    }
    .novedades-img-2{
        grid-area: nuevo2;
        justify-self: center;
        padding: 60px;
    }
    .novedades-titulo-2{
        grid-area: titulo2;
        margin: 10px;
        padding: 40px;
    }
    .novedades-texto-2{
        grid-area: texto2;
        margin: 10px;
        padding: 40px;
        align-self: center;
    }
    .novedades-img-3{
        grid-area: nuevo3;
        justify-self: center;
        padding: 60px;
    }
    .novedades-titulo-3{
        grid-area: titulo3;
        margin: 10px;
        padding: 40px;
    }
    .novedades-texto-3{
        grid-area: texto3;
        margin: 10px;
        padding: 40px;
        align-self: center;
    }
    .novedades-img-4{
        grid-area: nuevo4;
        justify-self: center;
        padding: 60px;
    }
    .novedades-titulo-4{
        grid-area: titulo4;
        margin: 10px;
        padding: 40px;
    }
    .novedades-texto-4{
        grid-area: texto4;
        margin: 10px;
        padding: 40px;
        align-self: center;
    }
    /*contacto*/
}