h1{
    margin-bottom: 60px;
}
.mb-3{
    margin: 10px 300px 10px 300px;
}
.border-color{
    border-color: $fucsia;
}
.form-label{
    color: $azul;
    font-size: 1rem;
}
.btn-primary{
    margin-top: 40px;
}