main{
    .presentacion{
        @include flex( row, space-evenly, center);
        .fotoPresentacion{
            width: 300px;
            margin: 10px ;
            }
        .textoPresentacion{
                margin: 10px;
                padding: 20px;
                color: $fucsia;
                text-align: left;
                font-size: 1.3rem;
        }
    }
}