main{
    .card{
        margin-top: 30px;
        .tienda-titulo{
            color:$fucsia;
            font-size: 1.7rem;
            margin-top: 10px;
            text-align: center;
        }
        .tienda-texto{
            font-family: $alegreya;
            font-size: 1.3rem;
            color: $azul;
        }
        .tienda-subtexto{
            font-family: $alegreya;
            font-size: 1rem;
            color: $verde;
        }
    }

}