/*mobile*/
@media only screen and (max-width: 480px) {
   
    //header//
    header{
        .navbar{
            z-index: 3;
        }
        .bg-rosa{
            height: 70px;
            img{
            width: 50px;
            }
            .navbar-nav{
                font-size: 1rem;
                text-shadow: 1px 1px 3px rgb(0, 0, 0);
                a{
                    background-color: $fucsia;
                    margin-right: 260px;
                }
            }     
        }  
    }

    //footer//
    footer{
        .logofacebook{
            width: 10%;    
        }
        .logoinstagram{
            @extend .logofacebook;
        }
        .fixwapp{
            width:40px;
            height:40px;
            right:30px;
            z-index: 2;
        }
    }

    //index//

    //banner//
    .banner{
        padding: 20px 0px;
    }
    h1{
        font-size: 3rem;
        margin-top: 20px;
    }

    //main//
    main{
        .titulo-productos{
            text-align: center;
            font-size: 1.5rem;
        }
        .divPadreFlex{
            @include flex( column, space-evenly, center);
            font-size: 1.2rem;
            margin-top: 50px;
            img{
                height: 200px;
                width: 150px;
            }
            .desayunos:hover{
                outline: none;
                font-weight: none;
                color: $fucsia;
                transform:scale(1);
            }
            .eventos:hover{
                outline: none;
                font-weight: none;
                color: $fucsia;
                transform:scale(1);
            }
            .antojos:hover {
                outline: none;
                font-weight: none;
                color: $fucsia;
                transform:scale(1);
            }
            .merienda:hover{
                outline: none;
                font-weight: none;
                color: $fucsia;
                transform:scale(1);
            }
            .mesa-dulce:hover{
                outline: none;
                font-weight: none;
                color: $fucsia;
                transform:scale(1);
            }
            .postres:hover{
                outline: none;
                font-weight: none;
                color: $fucsia;
                transform:scale(1);
            }
        }
        
    }

    //tienda//
    .card{
        img{
            z-index: 1;
        }
    }

    //nosotros//
    main{
        .presentacion{
            @include flex( column, space-evenly, center);
            .fotoPresentacion{
                width: 250px;
                margin: 10px;
                align-self: center;
                }
            .textoPresentacion{
                    padding: 60px;
                    align-self: center;
                    text-align: left;
                    font-size: 1rem;
                    margin-right: 20px;
            }
        }
    }
   
    //contacto//
    h1{
        margin-bottom: 60px;
    }
    .mb-3{
        margin: 10px 40px 10px 20px;
    }
    .border-color{
        border-color: $fucsia;
    }
    .form-label{
        color: $azul;
        font-size: .8rem;
    }
    .btn-primary{
        margin-top: 20px;
        margin-right: 100px;
        margin-left: 100px;
    }




}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 978px){

    //header//
    header{
        .bg-rosa{
            height: 100px;
            img{
            width: 80px;
            }
            .navbar-nav{
                font-size: 2rem;
                text-shadow: 1px 1px 3px rgb(0, 0, 0);
                a{
                    background-color: $fucsia;
                    margin-right: 700px;
                }  
            }     
        }  
    }

    //banner//
    h1{
        font-size: 4.5rem;
    }
    
    //index//
    main{
        .titulo-productos{
            font-size: 3rem;

        }
        .divPadreFlex{
            font-size: 2.3rem;
            img{
                height: 300px;
                width: 250px;
            }
        }
    }

    //tienda//
    main{
        .card{
            img{
                height: 250px;
            }
            .tienda-titulo{
                font-size: 1.7rem;
                margin-top: 5px;
            }
            .tienda-texto{
                font-size: 1.5rem;
            }
            .tienda-subtexto{
                font-size: 1.4rem;
            }
        }
    
    }

    //novedades//
    main{
        .mb-3{
            margin: 50px 170px 50px 170px;
        }
        .novedades-titulo{
            font-size: 1.7rem;
        }
        .novedades-texto{
            font-size: 1.5rem;
        }
    }

    //nosotros//
    main{
        .presentacion{
            @include flex( column, space-evenly, center);
            .fotoPresentacion{
                align-self: center;
                width: 500px;
                height: 400px;
                }
            .textoPresentacion{
                    font-size: 1.7rem;
            }
        }
    }

    //contacto//
    .form-label{
        font-size: 1.8rem;
    }
    .form-control{
        font-size: 1.5rem;
    }

}